.form-signin {
  margin-bottom: 15px;
  button[type="submit"]{
    margin: 0 auto;
  }
}
.card-login-logo {
  margin: 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
}
.forgot-password {
  text-align: center;
  font-size: 14px;
}
.card-login-form {
  border: solid #ccc 1px;
  border-radius: 5px;
}

.container-form-login {
  height: 100vh;
  width: 100vw;
}
