
<div class="row">
  <div class="col-lg-12">
    <h1>Todo List</h1>
    <div class="input-group">
      <input type="text" #title class="form-control" placeholder="Todo...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="addTodo(title)" type="button">Add</button>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let t of todos | async">
        <span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{ t.title }}</span>
        <button type="button" (click)="removeTodo(t)" class="btn btn-sm btn-danger">Remove</button>
      </li>
    </ul>
  </div>
</div>
