
.completed {
  text-decoration: line-through;
  clear: both;
}

.todo-item{
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.todo-footer {
  margin: 0 24px -24px 24px;
}

.example-form {
  width: 100%;
}
.example-full-width {
  width: 100%;
}
