<div class="grid-noGunter-middle-center container-form-login">
  <mat-card class="col-4_sm-12 card-login-form">
    <mat-card-title>
      <img id="profile-img" class="card-login-logo" src="/assets/images/avatar_2x.png" />
    </mat-card-title>
    <mat-card-content>
      <form class="grid form-signin">
        <mat-form-field class="col-12">
          <span matPrefix>
            <mat-icon>email</mat-icon> &nbsp;</span>
          <input #email matInput placeholder="Email address" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <span matPrefix><mat-icon>vpn_key</mat-icon> &nbsp;</span>
          <input #password matInput type="password" placeholder="Password" required>
        </mat-form-field>

        <div id="remember" class="col-12">
          <mat-checkbox [checked]="true" color="primary">Remember me</mat-checkbox>
        </div>

        <button (click)="signin()" type="submit" mat-raised-button color="primary"><mat-icon>account_circle</mat-icon> Sign in</button>
      </form>
      <div class="grid-center">
        <a href="#" mat-button color="primary" class="forgot-password">Forgot the password?</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
